__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv
env/
venv/
.git/
.gitignore
.vscode/
.idea/
*.log
.DS_Store
node_modules/
frontend/
*.md
!README.md
.pre-commit-config.yaml
.editorconfig
.ruff.toml
backend/storage/